<h1>Listing admin_teams</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_teams.each do |admin_team| %>
      <tr>
        <td><%= link_to 'Show', admin_team %></td>
        <td><%= link_to 'Edit', edit_admin_team_path(admin_team) %></td>
        <td><%= link_to 'Destroy', admin_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_admin_team_path %>
